* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    background-color: #fbfbfb;
}

.wrapper {
width: 99%;
margin-left: auto;
margin-right: auto;
}
/*
.list {
    
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    
}

.listItem {
    padding-left: 15px;
    
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    font-size: 10px;
    
    
}

.listItem :hover {
    transition: 10s;
    
    font-size: 50px;
    color:blue;
}
*/

table {
    border-spacing: 0;
    width: 100%;
    
    

}

th {
    border-bottom: 1px solid #000;
}


td {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    

}


tr{
    padding-left: 10px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    
    
}


td img {
    width: 25px;
    height: 50px;
}


.tabelle {
    background-color: #00ff00;
    background-color: rgba(00, 255, 00, 0.8);
}
.doc {
    background-color: #0000ff;
    background-color: rgba(0, 195, 255, 0.8);
}
.pdf {
    background-color: #ff8800;
    background-color: rgba(255 , 136, 00, 0.8);
}

.presintation {
    background-color: rgba(255, 255, 0, 0.8);
}


.wichtig, .info, .nachweis {
    border: 1px hidden;
    padding: 5px;
    border-radius: 10px;
}


.wichtig {
    background-color: red;
    
}
.info {
    background-color: #1fb357;
}
.nachweis {
    background-color: #743b8f;
}